.mainmenu {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(200,200,200);
    background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(241,241,241,1) 0%, rgba(236,236,236,1) 0%, rgba(200,200,200,1) 100%);
    height: 100vh;
}

.mainmenu h1 {
    margin: 0;
    font-weight: 900;
    font-size: 3vw;
    letter-spacing: .2vw;
    color: #404040;
}

.mainmenu p {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2vw;
    margin-bottom: 1vh;
    color: #505050;
}

@media screen and (max-width: 1024px) { /* Mobile */
    .mainmenu h1 {
        font-size: 33px;
    }

    .mainmenu p {
        font-size: 13px;
    }
}