.keyboard {
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    grid-template-rows: 5vw auto 5vw; 
    column-gap: 10px;
    row-gap: 15px;
    background-color: coral;
}

.btn-keyboard {
    height: 5vw;
    border-radius: 20px;
    outline: none;
}