@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  height: 100vh;
  font-family: 'Montserrat';
  background: rgb(200,200,200);
  background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(241,241,241,1) 0%, rgba(236,236,236,1) 0%, rgba(200,200,200,1) 100%);
  margin: 0;
}